@import '../node_modules/normalize.css/normalize.css';

//FONT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("/assets/fontawesome/css/all.min.css");

/* @font-face {
    font-family: Segoe UI;
    src: url('/assets/font/segoe-ui/Segoe\ UI.woff') format("woff"),
         url('/assets/font/segoe-ui/Segoe\ UI\ Bold.woff')
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before, &:after{
         box-sizing: border-box;
    }
}


/* Valeur Par Default */
:root {
    h1,h2 {
        padding: 0;
        margin: 0;
       // margin-bottom: r(20px);
        font-size:clamp(r(20px), 2.5vw, r(46px)); // r(30px);
        font-weight: 600;
        line-height: 56px ; //lh(56, 46);
        letter-spacing: -0.46px;
       // text-align: center;
    }

     h1{
         font-size: clamp(r(20px), 4vw, r(46px));  
     }

    

    h3{
        margin: 0;
        padding: 0;
        font-size: r(20px);
        line-height:lh(24,20); // 24px;
        font-weight: 600;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    h5{
        margin: 0;
        padding: 0;
    }

    hr{
        margin: 115px 0;
        padding: 0;
        height: 2px;
        background-color: #e6e6e6;
        border: none;
    }
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.5; //1.5 pourcent de la taille de la police
}


a{
 color: $main-color;
 text-decoration: none;
 @include transition-duration();
}


p{
    padding: 0;
    margin: 0;
   // margin-bottom: r(20px);
    font-size: 15px;
    font-weight: 400;
    line-height: lh(20, 15) ;
}




.is-active{
    color: $main-color;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}


ul{
    list-style: none;
    li{
        &:last-child{
            margin: 0;
            padding: 0;
        }
    }
}




