
.banner{
    width: 100%;
    max-width: 100%;
    margin: 50px auto ;

}

.banner-inner-1{
    height: auto;
    min-height: 300px;
    padding: 79px 0;

    background: url('/assets/images/RE3hFDE.webp') 100% center /cover no-repeat;
    .content {
        display: none;
        width: 47%;
        padding: 5rem 0 0 4rem;
        //padding: r(160px) 0 0 r(75px);
        text-align: left;
    }

}

.banner-inner-2 {
    background: #f2f2f2;
    .content {
        width: 87%;
        height: 300px;
        margin: auto;
        //padding: 0 50px;
        text-align: center;
        @include horizontal-vertical-centering-flex();
    }

}



.banner-title{
    line-height: normal!important;
}

.banner-description {
    margin:10px 0 25px 0 ;
    color: $main-color;
}





/* ///////////////////// RESPONSIVE ///////////////// */



@media only screen and (min-width: 768px) {
    .banner-inner-1 {
        height: 480px;
       background-size: cover;
       .content{
           display: block;
       }
    }


    .banner-inner-2{
        display: none;
    }
}

@media only screen and (min-width: 1084px) {
    .banner{
        width: 90%;
        max-width: 1600px;

    }
}