.footer {
    background: #F2F2F2;
    color: #616161;
    font-size: r(12px);
    padding: r(20px) 0;
}



.footer-languages{
    margin-bottom: 10px; //
    span, i{
        display: inline-block;
        vertical-align: middle;
    }
    i{
      font-size: r(22px);
      padding-right: r(8px);
    }
}


.footer-links{
    li{
        display: inline-block;
        //margin-right: r(28px); //
        padding:r(2px) r(5px); //
        vertical-align: middle;
        .link-list-item{
            font-size: r(10px);
        }
    }
}



/////////////////////// RESPONSIVE ///////////////////////

@media only screen and (min-width: 860px) {

    .footer-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-languages {
        margin-bottom: 0
    }


    .footer-links {
        li {
            display: inline-block;
            margin-right: r(28px); //
            padding: 0;
            vertical-align: middle;
            .link-list-item {
                font-size: r(11px);
            }
        }
    }
}