
.showcase{
    
    @include border(2px, red);
    width: 100%;
    margin: auto;
    margin-bottom: 30px;


}

.showcase-inner-1{
      width: 100%;
      max-width: 100%;
    height: auto;
    min-height: 171px;
    padding: 80px 0;
    background: url('/assets/images/showcase') center center /cover no-repeat;
   
      .content {
          .showcase-title {
              font-size: 24px;
              line-height: 28px !important;
              letter-spacing: -0.24px !important;
          }
          display: none;
          width: 48%;
          text-align: center;
           color: #fff;
      }
}

.showcase-description {
    margin: 25px 0;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    vertical-align: baseline;
}


.showcase-inner-2{
    background: #333333;
    color: #f2f2f2;
    .content{
        .showcase-title {
            font-size: 20px;
            line-height: 24px !important;
            letter-spacing: -0.2px !important;
        }
        width: 86%;
        height: 300px;
        margin: auto;
        text-align: center;
        @include horizontal-vertical-centering-flex();
    }


}





.showcase-description {
    margin: 10px 0 25px 0;
}

/* ///////////////////// RESPONSIVE ///////////////// */



@media only screen and (min-width: 768px) {
   .showcase-inner-1{
       height: 485px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-end;
       
       .content{
           display: block;
       }
   }


   .showcase-inner-2{
       .content{
        display: none;
       }
   }



}

@media only screen and (min-width: 1084px) {
    .showcase {
        width: 90%;
        max-width: 1600px;
    }
}


@media only screen and (min-width: 1399px) {
    .showcase-title {
        span {
            display: none;
        }
    }
}