.home-cards{
    margin-top: 40px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 20px;
}



/* ///////////////////// RESPONSIVE ///////////////// */



@media only screen and (min-width: 540px) {
    .home-cards {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (min-width: 1084px) {
    .home-cards {
         grid-template-columns: repeat(4, 1fr);

    }
}