.links{
    margin-top: 50px;
    background: #F2F2F2;
    padding: 35px 0;
    color: #616161;
    font-size: r(12px);
}

.links-inner{
   // max-width: 1295px; ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
    
}

.link-list{
    .link-list-title{
        font-size: 15px;
        line-height:lh(20, 15) ; //20px;
        color: #616161;
    }

    ul {
        margin-top: 18px;
        li {
            font-size: r(11px);
            font-weight: 400;
            line-height: lh(16, 11) ; //16px;
            padding-bottom: r(15px) ;
           
        }
    }
}

.link-list-item {
    color: #616161;
}




/////////////////////// RESPONSIVE ///////////////////////

@media only screen and (min-width: 540px) {

    .links-inner {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (min-width: 1084px) {

    .links-inner {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;
    }

}