/* ---------------- MENU SECTION ---------- */
/* -------------------------------------- */

.main-nav{
    display: none;
    ul{ 
        li{
            display: inline-block;
            padding:0 r(10px);
            a{
                padding-bottom: r(2px);
                font-size: r(13px);
                font-weight: 400;
                color: #262626;
                display: inline-block;
                i{
                    display: inline-block;
                    padding-left: 4px;
                }
            }
        }
    }


    .right-menu {
        .i-all,
        .i-search {
            display: none;
        }

        span {
            display: none;
        }
    }

}


.logo{
    width: 110px;
   // height: 26px;
   cursor: pointer;
}

.main-menu{
    flex: 1;
    margin-left: r(20px);
    .nav-link{
        border-bottom: r(2px) solid transparent;
        &:hover {
            border-bottom: r(2px) solid $main-color;
        }
    }

    .support-tech-item {
        display: none;
    }
    
}




.main-nav-mobile{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   ul{
      li{
          display: inline-block;
          white-space: nowrap;
          padding-right: 12px;
      }
   }
   
}



/////////////////////// RESPONSIVE ///////////////////////

@media only screen and (min-width: 860px) {
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        height: 60px;
        .right-menu {
            .i-all,
            .i-search {
                display: inline;
            }
            span.all {
                display: inline !important;
            }
        }
    }

    .main-nav-mobile{
        display: none;
    }

}



@media only screen and (min-width: 948px) {

    .main-menu{
        .i-all {
            display: none;
            padding: 0;
            margin: 0;
        }
        .support-tech-item {
            display: inline;
        }
        .support-tech-plus-item{
            display: none;
        }
    }
}





@media only screen and (min-width: 1400px) {

    .right-menu {
        span{
            display: inline;
        }
    }

}


